/* for mobile (375px) */
@media screen and (min-width:375px) {
    .container { width: 100%; max-width: 375px; margin: auto; height: inherit; } 

    /* header */
    header { margin: auto; justify-content: center; align-items: center; position: relative; }
    .popup{width: 15rem; height: auto; position: fixed; background: rgba(0,0,0,.5); top: 5rem; left: 15%; z-index: 9999999999999999; border-radius: 1.25rem;}
    .popup .close_btn{position: absolute; right: 0; padding: 1rem; cursor: pointer;}
    .popup p{padding-top: 2rem; padding-bottom: 2rem; padding-left: 1rem; padding-right: 2rem; font-size: 90%; line-height: 150%;}
    header .header_top { width: 100%; max-width: 375px; height:auto; position: relative; margin: auto; justify-content: center; align-items: center; } 
    header .header_wrap { height: 5rem; width: 100%; display: flex; justify-content: space-between; align-items: center; z-index: 99999; } 
    header .header_wrap li { display: inline-block; } 
    header .header_wrap .logo { position: absolute; left:2rem; }
    header .header_wrap .logo img {height: 2rem;}
    header .header_wrap .lang { position: absolute; right: 4.5rem; } 
    header .header_wrap .lan { display: inline-block; } 
    header .header_wrap .lang .ko:before { display: block; content: ''; position: absolute; background-color: rgba(255,255,255,.4); width: 15px; height: 1px; top: 59px; right: 20px; } 
    header .header_wrap .lang .en { padding-left: 18px; } 
    header .header_wrap .lang a { color: white; font-size: 80%; line-height: 120px; } 
    header .header_wrap .menu_btn { position: absolute; right: 2rem; } 
    header .header_wrap .menu_btn a { color: white; } 
    /* nav */
    .nav{width: 100%;}
    .dep1 li a { font-weight: 900; font-size: 250%; } 
    /* bg */
    header { position: relative; } 
    .header_top { width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; } 
    .background { position: relative;height: 100vh } 
    .bg_textbox { position: absolute; bottom: 0rem; left: 0%; transform: translateX(-40rem); z-index: 1; } 
    .bg_textbox .bg_txt span { font-size: 120%; } 
    .bg .container { position: relative; width: 100%; max-width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;} 
    .bg#background-video { height: auto; max-width: 100%;} 

}
/* for tablet (768px) */
@media screen and (min-width:768px){
    /* header */
    .popup{ left: 20%;}
    /* nav */
    .dep1 li a{font-size: 350%;}
    .dep2 li { padding: .2rem 1rem; } 
    .dep2 li a { font-weight: 700; font-size: 100%; } 

    /* bg */
    .bg_textbox{bottom: 3rem; left: 50%; transform: translateX(-20rem);}
    .bg_textbox .bg_txt span { font-size: 100%; } 
    /* creators */
    main .creators .top { display: flex; flex-direction: row; } 
    main .creators .top .c_box { display: inline-block; width: 15rem; height: 25rem; margin: 1.5rem .3rem; background: var(--primary); background: no-repeat center center ; background-size: 15rem 25rem; } 
    main .creators .bot { display: flex; flex-direction: row; } 
    main .creators .bot .c_box { display: inline-block; width: 15rem; height: 25rem; margin: 1.5rem .3rem; background: var(--primary); background: no-repeat center center; background-size: 200px 150px; } 
    main .creators .top .t1 { background: url('../img/c_1.jpg'); } 
    main .creators .top .t2 { background: url('../img/c_2.jpg'); } 
    main .creators .top .t3 { background: url('../img/c_3.jpg'); } 
    main .creators .bot .b1 { background: url('../img/c_4.jpg'); } 
    main .creators .bot .b2 { background: url('../img/c_5.jpg'); } 
    main .creators .bot .b3 { background: url('../img/c_6.jpg'); } 
    main .creators .t2,.b2 { transform: translateY(3rem); } 
    /* original */
    main .original .youtube { display: inline-block; width: 25rem; height: 15rem; margin-left: 1rem;} 
    main .original .textbox { display: flex; flex-flow: column; } 
    main .original .textbox li { display: block; width: 21rem; height: 4rem; margin-left: 1rem; margin-right: 1rem; border-bottom: 3px solid white; text-align: left; position: relative;} 
    main .original .textbox li span{position: absolute; display: inline-block; right: 1rem; bottom: 1rem;}
    main .original .textbox li a { line-height: 5rem; font-size: 100%;} 
    /* footer */
    footer .f_info { display: flex; flex-direction: row; margin: auto; justify-content: center; align-items: center; position: relative; } 
    .f_links a, .f_sns a { font-weight: 800; font-size: 80%; } 
    footer .f_top { font-weight: 700; display:block; position: absolute; left: 1.5rem; top: 50%; transform: translateY(-50%); } 
    footer .f_top .email { padding: .5rem; padding-bottom: 1rem; position: relative; } 
    footer .f_top .email:before { content: ''; display: block; position: absolute; background: var(--accent); width: 18rem; height: .2rem; top: 50%; left: .5rem; transform: translateY(.8rem); } 
    footer .f_top .copyright { color: gray; font-weight: normal; font-size: 80%; margin-top: .5rem; } 
    footer .f_bot { display: flex; flex-direction: row; flex-wrap: wrap; position: absolute; right: 2rem; top: 50%; transform: translateY(-50%); } 
    footer .f_bot ul { padding-left: 1rem; } 
    footer .f_bot li { list-style: none; } 
    footer .f_bot .f_links { text-align: left; line-height: 2rem; } 
    footer .f_bot .f_sns { text-align: left; line-height: 2rem; margin-left: 1rem; } 
    footer .f_bot .family_btn { border: 2px solid var(--secondary_g); padding: 0 1rem; padding-bottom: .7rem; margin-left: .5rem; text-align: left; line-height: 150%; transition: all .5s ease-in-out; } 
    footer .f_bot .family_btn span { line-height: 150%; } 
    
}

/* 860px */
@media screen and (min-width:860px){
    /* header */
    .popup{ left: 30%;}
    /* nav */
    .dep2 li { padding: .5rem 1rem; } 
    .dep2 li a { font-weight: 700; font-size: 120%; } 

    /* bg */
    .bg_textbox{bottom: 3rem; left: 50%; transform: translateX(-25rem);}
    .bg_textbox .bg_txt span { font-size: 100%; } 
    /* creators */
    main .creators .top { display: flex; flex-direction: row; } 
    main .creators .top .c_box { display: inline-block; width: 15rem; height: 25rem; margin: 1rem 1rem; background: var(--primary); background: no-repeat center center ; background-size: 15rem 25rem; } 
    main .creators .bot { display: flex; flex-direction: row; } 
    main .creators .bot .c_box { display: inline-block; width: 15rem; height: 25rem; margin: 1rem 1rem; background: var(--primary); background: no-repeat center center; background-size: 200px 150px; } 
    main .creators .top .t1 { background: url('../img/c_1.jpg'); } 
    main .creators .top .t2 { background: url('../img/c_2.jpg'); } 
    main .creators .top .t3 { background: url('../img/c_3.jpg'); } 
    main .creators .bot .b1 { background: url('../img/c_4.jpg'); } 
    main .creators .bot .b2 { background: url('../img/c_5.jpg'); } 
    main .creators .bot .b3 { background: url('../img/c_6.jpg'); } 
    main .creators .t2,.b2 { transform: translateY(3rem); } 
    /* original */
    main .original .youtube { display: inline-block; width: 50rem; height: 30rem; margin-left: 1rem;} 
    main .original .textbox { display: flex; flex-flow: column; } 
    main .original .textbox li { display: block; width: 23rem; height: 4rem; margin-left: 1rem; margin-right: 1rem; border-bottom: 3px solid white; text-align: left; position: relative;} 
    main .original .textbox li span{position: absolute; display: inline-block; right: 2rem; bottom: 1rem;}
    main .original .textbox li a { line-height: 5rem; font-size: 100%;} 
    /* footer */
    footer .f_info { display: flex; flex-direction: row; margin: auto; justify-content: center; align-items: center; position: relative; } 
    .f_links a, .f_sns a { font-weight: 800; } 
    footer .f_top { font-weight: 700; display:block; position: absolute; left: 1.5rem; top: 50%; transform: translateY(-50%); } 
    footer .f_top .email { padding: .5rem; padding-bottom: 1rem; position: relative; } 
    footer .f_top .email:before { content: ''; display: block; position: absolute; background: var(--accent); width: 18rem; height: .2rem; top: 50%; left: .5rem; transform: translateY(.8rem); } 
    footer .f_top .copyright { color: gray; font-weight: normal; font-size: 80%; margin-top: .5rem; } 
    footer .f_bot { display: flex; flex-direction: row; flex-wrap: wrap; position: absolute; right: 4rem; top: 50%; transform: translateY(-50%); } 
    footer .f_bot ul { padding-left: 1rem; } 
    footer .f_bot li { list-style: none; } 
    footer .f_bot .f_links { text-align: left; line-height: 2rem; } 
    footer .f_bot .f_sns { text-align: left; line-height: 2rem; margin-left: 1rem; } 
    footer .f_bot .family_btn { border: 2px solid var(--secondary_g); padding: 0 1rem; padding-bottom: .7rem; margin-left: 1rem; text-align: left; line-height: 150%; transition: all .5s ease-in-out; } 
    footer .f_bot .family_btn span { line-height: 150%; } 



}

/* for pc (1024px) */
@media screen and (min-width:1024px) {
    
}
/* for pc (1440px) */