.wrap{width: 100%; text-align: center; color: white; font-size: 200%; font-weight: boldf;}
.container{width: 100%; max-width: 1440px; margin: auto; background: rgba(255,255,255,.3) ; height: inherit;}
.header{height: 155px;}
.header_top{height: 115px; background: #888;}
.hero_banner{height: 760px; background: #777;}
main{height:330rem ; background: #666;}
section:nth-child(1){height: 110rem ; background: #555;}
section:nth-child(2){height: 110rem; background: #444;}
section:nth-child(3){height: 110rem; background:#333;}
footer{height: 15rem; background: #222;}
.footer_nav{height: 5rem; background: #111;}
.footer_info{height: 10rem; background: #000;}